<h1>View Actor's <%= pluralize(@movies.count, "Movie") %></h1>
<table>
	<thead>
		<tr>
			<th>Title</th>
			<th>Duration</th>
			<th>Rating</th>
			<th>Release Date</th>
		</tr>
	</thead>
	<tbody>
		<% @movies.each do |movie| %>
		<tr>
			<td><%= movie.title %></td>
			<td><%= movie.duration %></td>
			<td><%= movie.rating %></td>
			<td><%= movie.release_date.strftime("%Y-%m-%d") %></td>			
		</tr>
		<% end %>
	</tbody>
</table>
<a href="/actors">View Actors</a>