<h1>Create Appearance</h1>
<form action="/appearances" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<p>
		<label>Actor:</label>
		<select name="appearances[actor_id]" id="actor_id">
			<% @actors.each do |actor| %>
			<option value="<%= actor.id %>">
				<%= actor.first_name %> <%= actor.last_name %>
			</option>
			<% end %>
		</select>
	</p>
	<p>
		<label>Movie:</label>
		<select name="appearances[movie_id]" id="movie_id">
			<% @movies.each do |movie| %>
			<option value="<%= movie.id %>">
				<%= movie.title %>
			</option>
			<% end %>
		</select>
	</p>
	<input type="submit" value="Create">
</form>